# IntelliJ IDEA specific files
/bin/
.idea/

out/
*.iws
*.iml
*.ipr

# Eclipse specific files
.settings/
.project
.classpath

# Compiled class files
*.class

# Log files
*.log

# Windows system files
Thumbs.db
Desktop.ini

# macOS system files
.DS_Store

# Maven target directory
target/

# Gradle build directory
build/

# Other specific files or directories
*.log
*.tmp
.metadata/
